RewriteEngine off
DirectoryIndex webalizer.html
AuthUserFile /www/htdocs/w007caed//monoplugs/b-step-new/manual-2_0/usage//.htpasswd
AuthGroupFile /dev/null
AuthName 'ByPassword'
AuthType Basic
require valid-user